@import url("global.css");

/*Sidebar*/

.sidebar {
  position: fixed;
  width: 100px;
  height: 100vh;
  background-color: var(--box-color);
  border-right: 1px solid #2b2e3f;
  transition: .5s;
}

.nav_logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.8rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color1);
  text-align: center;
  margin: auto;
}

.nav_logo-text {
  font-size: 1.125rem;
  color: var(--title-color);
  font-weight: var(--font-bold);
  line-height: 40px;
}

.nav_menu {
  position: fixed;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  width: 100vh;
}

.menu {
  display: flex;
}

.nav_list {
  display: flex;
  flex-direction: row-reverse;
  margin: -2px auto 0 auto;
}

.nav_link {
  float: right;
  height: 100%;
  line-height: 100px;
  padding: 0 1rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  position: relative;
  transition: 0.4s;
}

.btn-share {
  position: absolute;
  bottom: 1.8rem;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.social-share {
  font-size: 1.5rem;
}

.nav_toggle {
  height: 32px;
  width: 36px;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  top: 2rem;
  font-size: 1.2rem;
  border-radius: .25rem;
  background-color: var(--color1);
  color: var(--title-color);
  display: flex;
  justify-content: center;
  display: none;
}

.nav_close {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
  display: none;
}

.nav_link.active-link,
.nav_link:hover {
  color: var(--color1);
}

/* .nav_link.active-link::after,
.nav_link:hover::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--color1);
  border-radius: 50%;
  bottom: 1.8rem;
  left: 0;
  right: 0;
  margin: auto;
} */
